/* .clearfix::after {
  display: block;
  content: " ";
  clear: both;
} */

.clearfix::before,
.clearfix::after {
  display: table;
  content: " ";
}
.clearfix::after {
  clear: both;
}

:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}
body {
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
}
/* body * + * {
  margin-top: 1.5em;
} */
.container {
  max-width: 1080px;
  margin: 0 auto;
}
header {
  padding: 1em 1.5em;
  color: #fff;
  background-color: #0072b0;
  border-radius: 0.5em;
  margin-bottom: 1.5em;
}
.main {
  padding: 0 1.5em;
  background-color: #fff;
  border-radius: 0.5em;
}

.media {
  float: left;
  margin: 0 1.5em 1.5em 0;
  width: calc(50% - 1.5em);
  padding: 1.5em;
  background-color: #eee;
  border-radius: 0.5em;
}

.media:nth-child(odd) {
  clear: left;
}

.media-image {
  float: left;
  margin-right: 1.5em;
}
.media-body {
  overflow: auto;
  margin-top: 0;
}
.media-body h4 {
  margin-top: 0;
}
