body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #636161;
}

.traffic-light {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  height: 400px;
  background-color: #111;
  padding: 20px;
  border-radius: 10px;
}

.light {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  opacity: 0.3;
}
.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.active {
  opacity: 1;
}