.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($primary-color-light, 0.8),
      rgba($primary-color-dark, 0.8)
    ),
    url(../img/hero.jpg);
  /* 不管视口或者元素里的宽度是多少，它总是选择适应视口的宽度 */
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
  }

  &__logo {
    height: 35px;
  }

  &__text-box {
    position: absolute;
    /* top、left和父元素有关 */
    top: 40%;
    left: 50%;
    /* transform 之和元素本身有关 */
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
