body {
  background: #4d4a40;
  line-height: 2;
  padding: 20px 0;
  min-width: 1000px;
}

.container {
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
}

.container header {
  background-color: #267890;
  color: #fff;
  text-align: center;
  border: 5px solid #14414e;
  margin: 0 -34px;

}

.container header h1 {
  font-size: 40px;
  font-weight: bold;
}

.container header .original-link {
  color: #dbdbdb;
  margin-bottom: 20px;
}

.container header .original-link a:hover {
  color: #fff;
}

.container p {
  width: 90%;
  margin: 1em auto;
}

.container li {
  width: 90%;
  list-style: decimal;
  margin: 1em auto;
  background: skyblue;
}