h1 {
  font-weight: normal;
  text-align: center;
}

body {
  font: 18px/28px 'Hiragino Sans GB';
  text-indent: 2em;
}

a {
  text-decoration: none;
}

.gray {
  color: #888;
  font-size: 12px;
  text-align: center;
}

.search {
  color: #666;
}